/*
###################################
########### G L O B A L ###########
###################################
*/
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&family=Roboto+Mono:wght@600&display=swap");
::selection {
  color: #fff;
  background: #70d6ff; }

::-webkit-scrollbar {
  display: none; }

* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transition: 0.2s ease-out;
  overflow: hidden; }

/*
#################################
########### I N T R O ###########
#################################
*/
.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; }
  .intro-container .creator {
    padding: 4rem;
    filter: url(#distortionFilter);
    font-size: calc(100vw / 24 * 0.5);
    color: #0e0e0e;
    font-family: "Major Mono Display", "Roboto Mono", monospace;
    opacity: 0; }

svg {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  pointer-events: none; }

/*
###############################
########### M A I N ###########
###############################
*/
.top-bar {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  width: 100vw;
  height: 12vh;
  z-index: 1; }
  .top-bar .name {
    color: #70d6ff;
    font-family: "Major Mono Display", "Roboto Mono", monospace;
    font-size: 1em;
    font-style: bold;
    width: auto;
    position: absolute;
    transform: translateX(-35vw);
    transition: 0.2s ease-out;
    cursor: pointer;
    user-select: none;
    text-decoration: none; }
    .top-bar .name.name-reveal {
      animation: name-reveal-anim 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
@keyframes name-reveal-anim {
  0% {
    transform: translateX(-35vw) translateY(-15vh); }
  100% {
    transform: translateX(-35vw) translateY(0); } }
  .top-bar .menu {
    color: #000;
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-style: bold;
    position: absolute;
    transform: translateX(35vw);
    text-decoration: none;
    transition: 0.2s ease-out; }
    .top-bar .menu:hover {
      color: #70d6ff;
      transition: 0.2s ease-out; }
    .top-bar .menu.menu-reveal {
      animation: menu-reveal-anim 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
@keyframes menu-reveal-anim {
  0% {
    transform: translateX(35vw) translateY(-15vh); }
  100% {
    transform: translateX(35vw) translateY(0); } }
.page-content {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  width: 100vw;
  height: 88vh;
  padding-left: 50vw;
  z-index: 2; }
  .page-content .chapters {
    position: relative;
    color: #000;
    font-family: "Roboto Mono", monospace;
    font-size: 6em;
    font-style: bold;
    text-decoration: none;
    margin-top: 0.5vmax;
    margin-bottom: 0.5vmax;
    text-align: left;
    transition: 0.2s ease-out;
    visibility: hidden;
    user-select: none;
    cursor: pointer; }
    .page-content .chapters:nth-of-type(1) {
      margin-top: 0vmax;
      margin-bottom: 0.5vmax; }
    .page-content .chapters:nth-of-type(4) {
      margin-top: 0.5vmax;
      margin-bottom: 0vmax; }
    .page-content .chapters:hover {
      color: #fff;
      transition: 0.2s ease-out; }
    .page-content .chapters-row {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center; }

/*# sourceMappingURL=style.css.map */
